{%liquid
 
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
  endif
%}

  <div class="flex">


  <!-- filter-pulse -->

  <div class="page-width">
    <facet-filters-form class="facets small-hide">
      <form>
        {%- if filter_type == 'vertical' -%}
          <span class="facets__selected no-js-hidden{% if filter.active_values.size == 0 %} hidden{% endif %}">
            ({{ filter.active_values.size }})</span>
        {%- endif -%}
        {% if enable_filtering %}
          <div id="FacetsWrapperDesktop">
            {% for filter in results.filters %}
              {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
              <details id="Details-{{ forloop.index }}-{{ section.id }}" data-index="{{ forloop.index }}">
                <summary class="py-5">{{ filter.label | escape }}
                </summary>
              </details>

              {% case filter.type %}
                {% when 'list' %}
                <div>
                  {% for filter_values in filter.values %}
                    <label for="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                      <input
                        type="checkbox"
                        name="{{ filter_values.param_name}}"
                        class="filter-checkbox"
                        value=" {{ filter_values.value }}"
                        {% if filter_values.active %}checked{% endif %}
                        {% if value.count == 0 and value.active == false %}disabled{% endif %}>
                      <span aria-hidden="true">{{ filter_values.label }} ({{ filter_values.count }})</span>
                    </label>
                  {% endfor %}
                </div>



                {% when 'price_range' %}
                <div class="prise-group filter-group-list flex">
                  <span>{{ cart.currency.symbol }}</span>
                  <div class="prise-front">
                    <input
                      type="number"
                      name="{{filter.min_value.param_name}}"
                      class="filter-checkbox"
                      {% if filter.min_value.value -%}value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"{%- endif %}placeholder="From"max="0"max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
                  </div>
                  <span>{{ cart.currency.symbol }}</span>
                  <div class="prise-front">
                    <input
                      type="number"
                      name="{{filter.max_value.param_name}}"
                      class="filter-checkbox"
                      value="{{filter.max_value.value | money_without_currency | replace: ',', '' }}"
                      placeholder="To"
                      min="0"
                      min="{{ filter.range_max }}">
                  </div>
                </div>

              {% endcase %}
            {% endfor %}
          </div>
        {% endif %}
      </form>
    </facet-filters-form>
  </div>



  <!-- collection all images  -->
  <div class="page-width">
    <div class="flex flex-wrap" id="collection-grid">
      {%- for product in collection.products -%}
        <div style="padding:10px">
          <img src="{{- product.featured_image | img_url: '450x550' -}}">
          <p class="text-left text-2xl ">
            {{- product.type -}}
          </p>
          <p>
            {{- product.price | money -}}
          </p>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>