<div class="page-width">
  <div class="product_page">
    <div class="w-1/2">
      <img src="{{ product.featured_image | img_url: 'master' }}">
    </div>
    <div class="w-1/2 p-5">
      {% if product.vendor != blank %}
        <span class="opacity-50">{{ product.vendor }}</span>
      {% endif %}

      <h1>{{ product.title | escape }}</h1>

      <div data-product-blocks>
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'price' -%}
            <div>
              {% if product.compare_at_price != blank %}
                <s class="pr-3">{{ product.compare_at_price | money }}</s>
              {% endif %}
              {{ product.price | money }}
            </div>

            <!-- product qurntity -->
            {%- when 'quantity_selector' -%}
            <div class="pt-5">
              <label>Quantity :
              </label>
              <div>
                {% render 'quantity-input' %}
              </div>
            </div>

            {%- when 'variant_picker' -%}
            <!-- variant button menu -->
            <div class="pt-5">
              {%- if block.settings.variant_labels -%}
                {% for option in product.options_with_values %}
                  <span>{{ option.name }}</span>
                  {% if block.settings.picker_type == "button" %}
                    <div>
                      {% for value in option.values %}
                        <button>{{ value }}</button>
                      {% endfor %}
                    </div>
                  {% endif %}

                  <!-- variant dropdown menu -->
                  {% if block.settings.picker_type == "dropdown" %}
                    <div
                      class="variant-input-wrap"
                      data-index="option{{ forloop.index }}"
                      data-handle="{{ option.name | handleize }}">
                      <select
                        form="{{ form_id }}"
                        data-variant-input
                        id="SingleOptionSelector-{{ section_id }}-{{ product.id }}-option-{{ forloop.index0 }}"
                        data-index="option{{ forloop.index }}">
                        {%- for value in option.values -%}
                          {%- liquid
                          assign variant_label_state = true
                          if product.options.size == 1
                            unless product.variants[forloop.index0].available
                              assign variant_label_state = false
                            endunless
                          endif
                        -%}
                          <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}name="{{ option.name }}"class="variant-input"data-index="option{{ forloop.index }}">
                            {{ value }}
                          </option>
                        {%- endfor -%}
                      </select>
                    </div>
                  {% endif %}

                {% endfor %}
              {%- endif -%}
            </div>

            {% when 'sales_point' %}
            <div class="pt-5">
              {% case block.settings.icon %}
                {% when 'checkmark' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-circle-checkmark"
                  viewBox="0 0 64 64">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: none;
                        stroke: #000;
                        stroke-width: 2px
                      }
                    </style>
                  </defs><path class="cls-1" d="M52.68 24.48A22 22 0 1 1 47 15.93M21 32l8.5 8.5L57 13" /></svg>
                {% when 'globe' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-globe"
                  viewBox="0 0 64 64">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: none;
                        stroke: #000;
                        stroke-width: 2px
                      }
                    </style>
                  </defs><circle
                    class="cls-1"
                    cx="33"
                    cy="32"
                    r="22" /><path class="cls-1" d="M14 21h38M11 32h44M14 43h38M33 10c-12 8-12 37 0 44M33 10c12 8 12 37 0 44" /></svg>
                {% when 'leaf' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-leaf"
                  viewBox="0 0 64 64">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: none;
                        stroke: #000;
                        stroke-miterlimit: 10;
                        stroke-width: 2px
                      }
                    </style>
                  </defs><path class="cls-1" d="M51 12L13 50M35 13v15h16" /><path class="cls-1" d="M52 11c6 24-16.72 47.29-33 32C7 22 29 10 52 11z" /></svg>
              {% endcase %}
              {{ block.settings.text }}
            </div>

            {% when 'inventory_status' %}
            {% if block.settings.inventory_transfers_enable %}
              <div>
                {% render 'product-inventory-input' %}
              </div>
            {% endif %}

            {% when 'buy_buttons' %}
            {%- unless product.empty? -%}
              <div class="product-block">
                {%- render 'product-form' -%}
              </div>
            {%- endunless -%}

          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>

  </div>

</div>



{% schema %}
  {
    "name": "product",
    "settings": [],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "quantity_selector",
        "name": "Quantity selector",
        "limit": 1
      },
      {
        "type": "price",
        "name": "price",
        "limit": 1
      },
      {
        "type": "variant_picker",
        "name": "Variant picker",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "variant_labels",
            "label": "Show variant labels",
            "default": true
          }, {
            "type": "select",
            "id": "picker_type",
            "label": "Type",
            "options": [
              {
                "value": "button",
                "label": "Buttons"
              }, {
                "value": "dropdown",
                "label": "Dropdown"
              }
            ],
            "default": "button"
          }
        ]
      }, {
        "type": "sales_point",
        "name": "Sales point",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }, {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "default": "globe",
            "options": [
              {
                "value": "checkmark",
                "label": "Checkmark"
              }, {
                "value": "globe",
                "label": "Globe"
              }, {
                "value": "leaf",
                "label": "Leaf"
              }
            ]
          }
        ]
      }, {
        "type": "inventory_status",
        "name": "Inventory status",
        "limit": 1,
        "settings": [
          {
            "type": "range",
            "id": "inventory_progessbar",
            "label": "Low inventory threshold",
            "default": 10,
            "min": 0,
            "max": 20,
            "step": 2
          }, {
            "type": "checkbox",
            "id": "inventory_transfers_enable",
            "label": "Show inventory transfer notice",
            "default": true
          }
        ]
      }, {
        "type": "buy_buttons",
        "name": "Buy buttons",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_dynamic_checkout",
            "label": "Show dynamic checkout button",
            "default": true
          }
        ]
      }
    ]
  }
{% endschema %}