<div class="page-width">
  <div class="product_page">
    <div class="w-1/2">
      <img src="{{ product.featured_image | img_url: 'master' }}">
    </div>
    <div class="w-1/2 p-5">
      {% if product.vendor != blank %}
        <span class="opacity-50">{{ product.vendor }}</span>
      {% endif %}

      <h1>{{ product.title | escape }}</h1>

      <div data-product-blocks>
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'price' -%}
            <div>
              {% if product.compare_at_price != blank %}
                <s class="pr-3">{{ product.compare_at_price | money }}</s>
              {% endif %}
              {{ product.price | money }}
            </div>

            {%- when 'quantity_selector' -%}
            <div class="pt-5">
              <label>Quantity :
              </label>
              <div>
                {% render 'quantity-input' %}
              </div>
            </div>

            {%- when 'variant_picker' -%}
            {%- if block.settings.variant_labels != blank -%}

              <span>{{ option.name }}</span>

            {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>

  </div>

</div>



{% schema %}
  {
    "name": "product",
    "settings": [],
    "blocks": [
      {
        "type": "@app"
      }, {
        "type": "quantity_selector",
        "name": "Quantity selector",
        "limit": 1
      }, {
        "type": "price",
        "name": "price",
        "limit": 1
      }, {
        "type": "variant_picker",
        "name": "Variant picker",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "variant_labels",
            "label": "Show variant labels",
            "default": true
          }
        ]
      }
    ]
  }
{% endschema %}